.foot-list{ 
    list-style: none; 
    margin-left: 186px; 
} 
.logo-foot-box{ 
    display: flex; 
} 
.foot-logo-text{ 
    font-family: 'Montserrat Alternates'; 
} 
.foot-logo-text-magic{ 
    font-family: 'Sacramento'; 
} 
.texts{ 
    display: flex; 
} 
.footer-box{ 
    display: flex; 
} 
.foot-logo-text-magic{ 
    margin-left: 15px; 
} 
.magic-svg-foot{ 
    width: 60px; 
    height: 40px; 
    margin-left: 176px; 
} 
.foot-submit{ 
    margin-left: 186px; 
    margin-top: 80px; 
    width: 1440px; 
    color: white; 
} 
.foot-item{ 
    font-family: "Montserrat Alternates"; 
    margin-bottom: 10px; 
} 
.text-submit{ 
    font-family: "Montserrat Alternates"; 
    font-size: 10px; 
    font-weight: 400; 
    line-height: 7px; 
    letter-spacing: 0em; 
    text-align: left; 
    margin-top: 18px; 
} 
.foot-input{ 
    background: #D7D7D7; 
    border-radius: 20px; 
    width: 224px; 
    height: 35px; 
    font-family: "Montserrat Alternates"; 
    padding: 10px; 
    border: none; 
    font-style: normal; 
    font-weight: 400; 
    font-size: 14px; 
    line-height: 15px; 
} 
.foot-btn{ 
    background: #000000; 
    border-radius: 20px; 
    color: #ffff; 
    font-family: "Montserrat Alternates"; 
    height: 45px; 
    width: 150px; 
    padding: 10px; 
    margin-left: 36px; 
    border: none; 
}