.footer{
    padding-top: 60px;
    padding-bottom: 60px;
}

.foot-list{ 
    list-style: none; 
} 
.logo-foot-box{ 
    display: flex; 
} 
.foot-logo-text{ 
    font-family: 'Montserrat Alternates'; 
    margin-left: 10px;
} 
.foot-logo-text-magic{ 
    font-family: 'Sacramento'; 
    margin-left: 100px;
} 

.magic-texts{
    display: flex;
    align-items: center;
    font-size: 26px;
}
.texts{ 
    display: flex; 
} 
.footer-box{ 
    display: flex; 
    align-items: center;
    justify-content: space-between;
    
}  
.magic-svg-foot{ 
    width: 60px; 
    height: 60px; 
} 
.foot-submit{ 
    margin-left: 186px; 
    margin-top: 80px; 
    width: 1440px; 
    color: white; 
} 
.foot-item{ 
    font-family: "Montserrat Alternates"; 
    margin-bottom: 10px; 
} 
.text-submit{ 
    font-family: "Montserrat Alternates"; 
    font-size: 10px; 
    font-weight: 400; 
    line-height: 7px; 
    letter-spacing: 0em; 
    text-align: left; 
    margin-top: 18px; 

    color: #000000;
} 
.foot-input{ 
    background: #D7D7D7; 
    border-radius: 20px; 
    width: 224px; 
    height: 35px; 
    font-family: "Montserrat Alternates"; 
    padding: 10px; 
    border: none; 
    font-style: normal; 
    font-weight: 400; 
    font-size: 14px; 
    line-height: 15px; 
} 
.foot-btn{ 
    background: #000000; 
    border-radius: 20px; 
    color: #ffff; 
    font-family: "Montserrat Alternates"; 
    height: 45px; 
    width: 150px; 
    padding: 10px; 
    margin-left: 36px; 
    border: none; 
}
  .backdrop{
    z-index: 4;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
}
.modal{
    position: absolute;
    top: 30%;
    left: 35%;
    right: 40%;
    bottom: 50%;

    height: 245px;
    width: 463px;
    border-radius: 20px;
    
    background-color: white;
    padding: 30px;

    text-align: center;
}
.close-modal{
    border: none;
    background-color: #fff;
    padding-left: 375px;
}
.close-btn{
    height: 15px;
width: 15px;
top: 30px;
border-radius: 0px;
fill: #000000;
left: 418px;
}
.backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;
}
.modal-svg{
    position: inherit;
    margin-top: 30px;
}
.thanks{
    color: #000000;
    text-align: center;
    margin-top: 60px;
}
.modal .game{
    margin-right: 140px;
}
.sword{
    left: 45px;
}
.puzzle{
    left: 85px;
}
.tic{
    margin-left: 120px;
}