.main-section{
    width: 1090px;
    height: 3202px;
}
.li-main{
    padding-top: 36px;
    padding-bottom: 36px;
    list-style: none;
}
.h2-main{
    font-family: 'Montserrat Alternates'; 
    display: flex;
    justify-content: center;
    padding-bottom: 36px;
    margin: 0;
}
.h1-main{
    font-family: 'Montserrat Alternates'; 
    display: flex;
    justify-content: center;
    padding-top: 36px;
    margin: 0;
}
.img-main{
    padding-left: 277px;
    padding-bottom: 36px;
}