<section class="time-calculator">
   <div class="container">
      <div class="wrapper-title">
         <div class="title">
            <h2>Калькулятор часу</h2>
         </div>
      </div>
      <div class="wrapper-content">
         <div class="wrapper-input">
            <input type="text" placeholder="Введіть число">
            <div class="wrapper-svg">
               <img src="/src/images/Group 104.svg" alt="">
            </div>
         </div>
         <div class="wrapper-time">
            <h4>00:00</h4>
         </div>
      </div>
   </div>
</section>