.section {
    background-color: #F5F5F5;
    background-image: url('../images/bgi.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 36px;
    padding-bottom: 36px;  
  }
  
  