@import './base/variables';
@import './base/common';
@import './base/container';
@import './base/section';

@import './page/header.scss';
@import './page/greet-modal';
@import './page/main-section.scss';
@import './page/footer.scss';

@import './games/leap-calculator.scss';
@import './games/guess-number.scss';
@import './games/rock-paper-scissors.scss';
@import './games/calculator.scss';
@import './games/time-calculator';
@import './games/dino';
@import './games/football.scss';
@import "./games/calculator.scss";
@import "./games/time-calculator.scss";
@import './games/dino';
@import './games/football.scss';
@import './games/max-number';
@import './games/our-team.scss';
@import './games/scientists.scss';
// @import './games/leap-calculator.scss';
// @import './games/guess-number.scss';
// @import './games/rock-paper-scissors.scss';
// @import './games/calculator.scss';
// @import './games/time-calculator';
// @import './games/dino';
// @import './games/football.scss';
// @import './games/max-number';
// @import './games/our-team.scss';
// @import './games/scientists';