<footer class="footer">
    <div class="footer-box container">           
                <div class="magic-texts">
                    <svg class="magic-svg-foot" viewBox="0 0 42 40" xmlns="http://www.w3.org/2000/svg"><path d="M11 12.4286L1 22.4286L11 32.4286" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M31 12.4286L41 22.4286L31 32.4286" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M24.5349 5.04265L15.9481 37.089C15.8314 37.5245 15.3838 37.783 14.9483 37.6663C14.5129 37.5496 14.2544 37.102 14.3711 36.6665L22.9579 4.62008C23.0746 4.1846 23.5222 3.92617 23.9577 4.04285C24.3932 4.15954 24.6516 4.60716 24.5349 5.04265Z"/>
                        <path d="M22.9579 4.62008C23.0746 4.1846 23.5222 3.92617 23.9577 4.04285C24.3932 4.15954 24.6516 4.60716 24.5349 5.04265L23.4891 8.94578L21.9121 8.52321L22.9579 4.62008Z"/>
                        <path d="M25.6948 7.02249L28.8488 7.86761" stroke="black" stroke-linecap="round"/>
                        <path d="M17.8096 4.9097L20.9637 5.75482" stroke="black" stroke-linecap="round"/>
                        <path d="M19.6457 1.21124L21.2833 4.0205" stroke="black" stroke-linecap="round"/>
                        <path d="M17.5865 8.89651L20.4093 7.28245" stroke="black" stroke-linecap="round"/>
                        <path d="M25.2756 8.58643L26.9133 11.3957" stroke="black" stroke-linecap="round"/>
                        <path d="M26.1497 5.32446L28.9725 3.7104" stroke="black" stroke-linecap="round"/></svg>
                   <div>
                    <p class="foot-logo-text">Coding</p>
                    <p class="foot-logo-text-magic">Magic</p>
                   </div>  
            </div>
            <ul class="foot-list">
                <li class="foot-item">
                   <a class="foot-link">Тел: +38 (123) 456 78 90</a>
                </li>
                <li class="foot-item">
                    <a class="foot-link"> E-Mail: codingmagic@gmail.com</a>
                </li>
                <li class="foot-item">
                    <a class="foot-link">Facebook: CodingMagic</a>
                </li>
                <li class="foot-item">
                    <a class="foot-link">Twitter: CodingMagic</a>
                </li>
                <li class="foot-item">
                    <a class="foot-link">Instagram: CodingMagic</a>
                </li>
            </ul>
            <form action="" class="form-submit">
                <input class="foot-input" type="email" name="email" id="email" placeholder="Ваша ел. адреса...">
             <button class="foot-btn" type="submit">Підписатись</button>
             <p class="text-submit">*Підписавшись, Ви зможете ортимувати інформацію про новинки на сайті</p>
            </form>  

        <div class="backdrop is-hidden">
            <div class="modal" data-modal>
                <button class="close-modal" data-modal-close>
                    <svg class="close-btn" width="17" height="17" viewBox="0 0 17 17" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1L8.5 8.5M16 16L8.5 8.5M8.5 8.5L16 1L1 16" stroke="black"/>
                        </svg>
                </button>
            <svg class="game modal-svg">
                <use class="game modal-svg" href="/src/images/game-development 1.svg#image0_41_43"></use>
            </svg>
            <svg class="sword modal-svg">
                <use class="sword modal-svg" href="/src/images/sword 1.svg#image0_41_44"></use>
            </svg>
            <p class="thanks">Дякую за підписку!</p>
            <svg class="puzzle modal-svg">
                <use class="puzzle modal-svg" href="/src/images/puzzle 1.svg#image0_41_41"></use>
            </svg>
            <svg class="tic modal-svg">
                  <use class="tic modal-svg" href="/src/images/tic-tac-toe 1.svg#image0_41_42"></use>
            </svg>
        </div>
        </div>
    </div>
</footer>