<div class="backdrop">
    <div class="modal">
        <div class="modal-header">
            <p>
                Привіт! <br>
                Ви потрапили на сайт інтерактивних ігор та завдань
                Надіємось, що вам сподобається і ви отримаєте позитивні емоції!
                Бажаємо Вам гарно провести час!
            </p>
        </div>
        <div class="modal-body">
            <h3>Введіть своє ім’я:</h3>
            <form action="">
                <input type="text" name="" id="name-input" placeholder="Ваше ім'я">
                <button type="submit" id="submit-btn">Зберегти</button>
            </form>
        </div>
    </div>
</div>