<header class="header">
    <div class="general-box container">
        <div class="logo-box">
            <svg class="magic-svg" viewBox="0 0 42 40" xmlns="http://www.w3.org/2000/svg"><path d="M11 12.4286L1 22.4286L11 32.4286" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
             <path d="M31 12.4286L41 22.4286L31 32.4286" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
             <path d="M24.5349 5.04265L15.9481 37.089C15.8314 37.5245 15.3838 37.783 14.9483 37.6663C14.5129 37.5496 14.2544 37.102 14.3711 36.6665L22.9579 4.62008C23.0746 4.1846 23.5222 3.92617 23.9577 4.04285C24.3932 4.15954 24.6516 4.60716 24.5349 5.04265Z"/>
             <path d="M22.9579 4.62008C23.0746 4.1846 23.5222 3.92617 23.9577 4.04285C24.3932 4.15954 24.6516 4.60716 24.5349 5.04265L23.4891 8.94578L21.9121 8.52321L22.9579 4.62008Z"/>
             <path d="M25.6948 7.02249L28.8488 7.86761" stroke="black" stroke-linecap="round"/>
             <path d="M17.8096 4.9097L20.9637 5.75482" stroke="black" stroke-linecap="round"/>
             <path d="M19.6457 1.21124L21.2833 4.0205" stroke="black" stroke-linecap="round"/>
             <path d="M17.5865 8.89651L20.4093 7.28245" stroke="black" stroke-linecap="round"/>
             <path d="M25.2756 8.58643L26.9133 11.3957" stroke="black" stroke-linecap="round"/>
             <path d="M26.1497 5.32446L28.9725 3.7104" stroke="black" stroke-linecap="round"/></svg>
             <div class="magic-texts">
                <p class="logo-text">Coding</p>
                <p class="logo-text-magic">Magic</p>  
             </div>       
         </div>
         <!-- <div class="nav-box"> -->
             <ul class="nav-list">
                <li class="nav-item">
                    <select name="interactif" class="nav-link interactif">
                        <option value="all" selected>interactif</option>
                        <option value="numerical">Числовий</option>
                        <option value="game">Ігровий</option>
                        <option value="acquaintance">Ознайомчий</option>
                    </select>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link team">Наша команда</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">Контакти</a>
                </li>
             </ul>
         <!-- </div> -->
         <!-- <div class="user-box"> -->
            <!-- Размітка перемикача теми -->
      <div class="theme-switch">
        <svg class="theme-switch__icon" role="img" aria-label="Иконка солнца">
          <use href="./images/Ellipse 8 (3).svg"></use>
        </svg>

        <div class="theme-switch__control">
          <input
            class="theme-switch__toggle"
            type="checkbox"
            name="theme"
            id="theme-switch-toggle"
            aria-label="Переключить между тёмной и светлой темой"
          />
          <label
            aria-hidden="true"
            class="theme-switch__track"
            for="theme-switch-toggle"
          >
          </label>
          <div aria-hidden="true" class="theme-switch__marker"></div>
        </div>

        <svg class="theme-switch__icon" aria-label="Иконка луны">
          <use href="images/dark-theme.svg"></use>
        </svg>
      </div>
    <!-- </div> -->
            <!-- <svg class="light">
                <use class="light input-svg is-hidden" src="../../images/light-theme.svg"></use>
            </svg>--
          Размітка перемикача теми -->
      <!-- <div class="theme-switch">
        <svg class="theme-switch__icon" role="img" aria-label="Иконка солнца">
          <use href="/src/images/Ellipse 8.svg"></use>
        </svg>

        <div class="theme-switch__control">
          <input
            class="theme-switch__toggle"
            type="checkbox"
            name="theme"
            id="theme-switch-toggle"
            aria-label="Переключить между тёмной и светлой темой"
          />
          <label
            aria-hidden="true"
            class="theme-switch__track"
            for="theme-switch-toggle"
          >
          </label>
          <div aria-hidden="true" class="theme-switch__marker"></div>
        </div>

        <svg class="theme-switch__icon" aria-label="Иконка луны">
          <use href="/src/images/Rectangle 23.svg"></use>
        </svg>
      </div>
    </div> -->
            <!-- <svg class="light">
                <use class="light input-svg is-hidden" src="../../images/light-theme.svg"></use>
            </svg>
              <input type="checkbox" id="checkbox" name="box" class="topic-website-svg"></input> -->
             <p class="user">Вітаємо, User!</p>
         <!-- </div>
    </div>

    </div>  -->
</header>