.input-2 {
    width: 180px;
    height: 35px;
    background: #d7d7d7;
    border-radius: 20px 0px 0px 20px;
    gap: 10px;
    padding: 10px 20px;
    box-shadow: 3px 3px #00000040;
    margin-left: -500px;
    margin-top: 45px;
    margin-bottom: 20px;

}

.button-2 {
    height: 40px;
    width: 80px;
    border-radius: 0px 20px 20px 0px;
    padding: 10px;
    background-color: black;
    color: white;
    
    
}

.p-2 {
    color: green;
    margin-left: 350px;
   margin-top: -15px;
}