@import '../base/common';
@import '../base/container';
@import '../base/section';
@import '../base/variables';

/* // src\sass\base\_common.scss */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
// input[type=number] {
//   -moz-appearance: textfield;
// }

body {
    font-family: 'Montserrat Alternates';

    text-align: center;
}

/* #p8 ul li {
    color: red;
} */

/* #p8 {
    text-align: center;
} */

[id = "8"] {
    display: flex;
    flex-direction: column;
}

[id = "8"] h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

[id = "8"] ul {
    display: flex;
    /* align-items: center; */
    /* text-align: center; */
    align-self: center;

    list-style: none;
    margin-bottom: 36px;
}

[id = "8"] ul li:not(:last-child){
    margin-right: 38px;
}

[id = "8"] ul li {
    /* display: inline-block; */

    // display: inline-flex;
    flex-direction: row;
    align-items: flex-start;

    padding: 10px 20px;
    padding-bottom: 0px;
    gap: 10px;
    
    width: 135px;
    height: 30px;

    background: #D7D7D7;
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    /* flex-direction: row; */
}

[id = "8"] ul li input {
    font-family: 'Montserrat Alternates';
    font-size: 12px;

    text-align: center;
    
    width: 95px;
    height: 15px;

    background: inherit;
    border: none;
    outline: none;
}

[id = "8"] p {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    margin: 0;
}