.photo{
   height: 200px;
   width: 150px;
   border-radius: 10px;
   background-repeat: no-repeat;
}




.rightButton{
    
    background-image: url(/src/images/Vector\ 231.svg);
    // background-repeat: no-repeat;
    border: none;
   
    height: 100px;
    width: 50px;
}


.leftButton{
    background-image: url(/src/images/Vector\ 230\ \(2\).svg);
   
    // background-repeat: no-repeat;
    border: none;
    height: 100px;
    width: 50px;
}
