
.main{
    display: flex;
  justify-content: center;
}

.photo{
   height: 200px;
   width: 150px;
   border-radius: 10px;
   background-repeat: no-repeat;
}


.nameText{
     align-content: center;
    // justify-content: center;
}

.discriptionText{
    
    justify-content: center;
}



.rightButton{
    
background-image: url(/src/images/Vector\ 231.svg);
   border: none;
   height: 50px;
    width: 20px;
}


.leftButton{
    background-image: url(/src/images/Vector\ 230\ \(2\).svg);
    border: none;
    height: 100px;
    width: 50px;
}
