
.main{
justify-content: space-around;
display: flex;
align-items: center;
}

.photo{
   height: 200px;
   width: 150px;
   border-radius: 10px;

}


.nameText{
     align-content: center;
}

.discriptionText{
    width: 600px;
   
    margin: auto;
   
}



.rightButton{
    height: 45px;
    width: 50px;
    background-image: url(/src/images/Vector\ 230\ \(2\).svg);
    background-repeat: no-repeat;
    background-color: white;
    border: none;
    background-size: contain;
}


.leftButton{
    height: 45px;
    width: 50px;
    background-image: url(/src/images/Vector\ 231.svg);
    background-repeat: no-repeat;
    background-color: white;
    border: none;
    background-size: contain;
}
