*{
    transition: all linear 150ms;
    font-family: 'Montserrat Alternates';
}
#RPSSection{
    display: flex;
    justify-content: center;
    margin-left: 160px;
}
#gamePart{
    width: 464px;
    margin-top: 36px;
    text-align: center;
    justify-content: center;
    font-size: 16px;
}
li{
    list-style: none;
}

#gameResults{
    margin-bottom: 36px;
}

#RPSBtnList{
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom: 36px;
}

#RPSBtnList li button{
    background-color: black;
    color: white;
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 20px;
}
.btnHover{
    box-shadow: 0px 0px 14px #000000;
    transform: scale(1.1);
}
#RPSBtnList li:not(:first-child){
    margin-left: 38px;
}
.computerChoise{
    font-size: 12px;
    
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
}
#score{
    margin-top: 40px;
    font-size: 16px;
    text-align: left;
    width: 170px;
}