  .scientist-list {
   display: flex;
   flex-wrap: wrap; 
   align-content: space-between;
  
 }
 .cards p{
   color: rgb(0, 0, 0);
   position: relative;
   height: 25px;
   padding: 14px;
  text-align: center;
}
h2{
   padding: 8px;
   color: black;
   height: 24px;
}
.cards{
  background-color: rgb(210, 204, 204);
   width: 164px;
   height: 134px;
   margin: 20;
   padding: 0;
  border-radius: 10px;
  text-align: center;
}
.button-list button{
  background-color: black;
  color: white;
  width: 340px;
  height:60px;
  border-radius: 15px;
  margin: 2px;
  top: -900px;
  position: relative;
  font-size: 15px;
}
.cards{
  background-color: rgb(210, 204, 204);
   width: 164px;
   height: 134px;
   margin: 20;
   padding: 0;
  border-radius: 10px;
  text-align: center;
}
 
 
