  .scientist-list {
   display: flex;
   flex-wrap: wrap; 
   margin: -30px;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 36px;
   width: 960px;
  
 }
 .cards p{
  font-size: 25px;
}
.cards h2{
  margin-bottom: 15px;
}
.cards{
  background-color: rgb(210, 204, 204);
  
  width: calc((100% - 8 * 30px) / 4);
   margin: 30px;
   padding: 10px;
  border-radius: 10px;
  text-align: center;
}
.buttons{
  background-color: black;
  color: white;
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 15px;
 
  font-size: 15px;
}

 
 
